<a href="https://colab.research.google.com/github/kashi25/AI-chhatbot-system/blob/cluster_keywords/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**
4. **Julia**
5. **Scala**

# Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**: A powerful library for numerical operations in Python.
2. **Pandas**: A data manipulation and analysis library for Python.
3. **Matplotlib**: A 2D plotting library for creating visualizations in Python.
4. **Scikit-learn**: A machine learning library for Python providing simple and efficient tools for data analysis and modeling.

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python:

1. Addition:
    ```python
    result = 5 + 3
    print(result)
    ```

2. Subtraction:
    ```python
    result = 10 - 4
    print(result)
    ```

3. Multiplication:
    ```python
    result = 6 * 7
    print(result)
    ```

4. Division:
    ```python
    result = 20 / 4
    print(result)
    ```

Feel free to modify and run these examples to understand how arithmetic expressions work in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

# Objectives:

- **List popular languages for Data Science**
- **Introduce commonly used libraries in Data Science**
- **Explore examples of evaluating arithmetic expressions in Python**
- **Demonstrate converting minutes to hours in Python**
- **Summarize key takeaways from the course**

## Author kashi

Code by Kashi Bhattarai